Studijos/IT/myxml2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Karolis Uosis (ABS) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://uosis.mif.vu.lt/~kauo4157/myxml.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://uosis.mif.vu.lt/~kauo4157/myxml.xsd">
	<xs:simpleType name="T_Title">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Mega Thunderball"/>
			<xs:enumeration value="Teleportation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="commonUse"/>
			<xs:enumeration value="monster"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_StarsCount">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Scale">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="0.5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Description">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Allow player to teleport to various locations"/>
			<xs:enumeration value="[Thunder]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_DefencePoints">
		<xs:restriction base="xs:short">
			<xs:enumeration value="600"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Created">
		<xs:restriction base="xs:date">
			<xs:enumeration value="2008-01-10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_AttackPoints">
		<xs:restriction base="xs:short">
			<xs:enumeration value="750"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_Visualization">
		<xs:sequence>
			<xs:element ref="View" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_bala">
		<xs:simpleContent>
			<xs:restriction base="ExtraTitle">
				<xs:attribute name="type" type="xs:int"/>
				<xs:attribute name="id" type="xs:int"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ExtraTitle">
		<xs:simpleContent>
			<xs:extension base="T_Title">
				<xs:attribute name="type" type="xs:int"/>
				<xs:attribute name="id" type="xs:int"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_View">
		<xs:choice>
			<xs:element ref="ImageFile"/>
			<xs:element ref="ObjectFile"/>
		</xs:choice>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="arena"/>
					<xs:enumeration value="default"/>
					<xs:enumeration value="inventory"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_Texture">
		<xs:attribute name="src">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="backside.jpg"/>
					<xs:enumeration value="thunderball/ball.jpg"/>
					<xs:enumeration value="thunderball/crd.bmp"/>
					<xs:enumeration value="thunderball/lamp.jpg"/>
					<xs:enumeration value="thunderball/steel.jpg"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nr" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="color">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="white"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_ObjectFile">
		<xs:choice>
			<xs:element ref="Texture" maxOccurs="unbounded"/>
			<xs:sequence>
				<xs:element ref="Scale"/>
				<xs:element ref="Texture" maxOccurs="unbounded"/>
				<xs:element ref="Animation"/>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="card.max"/>
					<xs:enumeration value="thunderball/megatrundrbl3.3ds"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_ImageFile">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="teleport.jpg"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_Events">
		<xs:sequence>
			<xs:element ref="Event" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_EventHandlingFunction">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="teleport.ccl"/>
					<xs:enumeration value="thunderbal.ccl"/>
					<xs:enumeration value="thunderball.ccl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OnAction"/>
					<xs:enumeration value="OnDestroy2"/>
					<xs:enumeration value="OnFLip"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_Event" mixed="true">
		<xs:all>
			<xs:element ref="EventHandlingFunction"/>
		</xs:all>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OnAction"/>
					<xs:enumeration value="OnDestroy"/>
					<xs:enumeration value="OnFlip"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_CardList">
		<xs:sequence>
			<xs:element ref="Card" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="lastEdited" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:date">
					<xs:enumeration value="2008-02-13"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_Card">
		<xs:sequence>
			<xs:element ref="Title"/>
			<xs:choice>
				<xs:element ref="Description"/>
				<xs:sequence>
					<xs:element name="TogetherWith" type="xs:int"/>
					<xs:element ref="Created"/>
					<xs:element ref="Description"/>
					<xs:element ref="AttackPoints"/>
					<xs:element ref="DefencePoints"/>
					<xs:element ref="StarsCount"/>
				</xs:sequence>
			</xs:choice>
			<xs:element ref="Visualization"/>
			<xs:element ref="Events"/>
		</xs:sequence>
		<xs:attribute name="type" type="T_Type" use="required"/>
		<xs:attribute name="rarity">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:enumeration value="0.5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minExclusive value="0"/>
					<xs:maxInclusive value="500"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_InventoryItem">
		<xs:complexContent>
			<xs:extension base="T_Card">
				<xs:sequence>
					<xs:element name="position" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_Animation">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="attack"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_CardRest">
		<xs:complexContent>
			<xs:restriction base="T_Card">
				<xs:sequence>
					<xs:element ref="Title"/>
					<xs:choice>
						<xs:element ref="Description"/>
						<xs:sequence>
							<xs:element name="TogetherWith" type="xs:int"/>
							<xs:element ref="Created"/>
							<xs:element ref="Description"/>
							<xs:element ref="AttackPoints"/>
							<xs:element ref="DefencePoints"/>
							<xs:element ref="StarsCount"/>
						</xs:sequence>
					</xs:choice>
					<xs:element ref="Visualization"/>
					<xs:element ref="Events"/>
				</xs:sequence>
				<xs:attribute name="type" type="T_Type" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="T_rarity">
		<xs:union memberTypes="xs:int xs:float"/>
	</xs:simpleType>
	<xs:simpleType name="decksList">
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:int"/>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	<xs:element name="Visualization" type="T_Visualization"/>
	<xs:element name="View" type="T_View"/>
	<xs:element name="Title" type="T_Title"/>
	<xs:element name="Texture" type="T_Texture"/>
	<xs:element name="StarsCount" type="T_StarsCount"/>
	<xs:element name="Scale" type="T_Scale"/>
	<xs:element name="ObjectFile" type="T_ObjectFile"/>
	<xs:element name="ImageFile" type="T_ImageFile"/>
	<xs:element name="Events" type="T_Events"/>
	<xs:element name="EventHandlingFunction" type="T_EventHandlingFunction"/>
	<xs:element name="Event" type="T_Event"/>
	<xs:element name="Description" type="T_Description"/>
	<xs:element name="DefencePoints" type="T_DefencePoints"/>
	<xs:element name="Created" type="T_Created"/>
	<xs:element name="CardList" type="T_CardList">
		<xs:key name="crdid">
			<xs:selector xpath="Card"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="ikorta" refer="crdid">
			<xs:selector xpath="Card"/>
			<xs:field xpath="Card/TogetherWith"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="Card" type="T_Card"/>
	<xs:element name="AttackPoints" type="T_AttackPoints"/>
	<xs:element name="Animation" type="T_Animation"/>
</xs:schema>
